
target/classes/application.properties
src/main/resources/application.properties
src/main/java/com/devpull/demo/config/MyConfig.java
src/main/resources/application.properties
target/classes/application.properties
target/classes/com/devpull/demo/config/MyConfig.class
